.singlePost{
    display:flex;
    flex:6;
}
.singlePostwr{
    padding: 20px;
    padding-right: 0;
}

.singlePostIMG {
    width:100%;
    height: 300px;
    border-radius: 3px;
    object-fit: cover;
}
.singlePostTitle {
    text-align: center;
    margin: 30px;
}

.SinglePostEditContainer{
    float:right;
    font-size: 25px;
}

.Edit {
    margin-left: 20px;
    cursor: pointer;
}

.Edit:first-child {
    color:teal;
}

.Edit:last-child {
    color:red;
}

.singlePostInfo{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
}
.Description{
    color: #666;
    font-size: 20px;
    line-height: 25px;
}

.Description::first-letter {
    margin-left: 20px;
    font-size: 32px;
    font-weight: 500px;
}