.file{
    display: none;
    
}
.write {
    padding-top: 50px;
    position: relative;
    
}
.formWrite{
    margin-left: 150px;
    display:flex;
    align-items: center;
   
}

.ikon{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border:1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color:cornflowerblue;
    cursor: pointer;
    
}

.inputText{
padding-top: 20px;
font-size: 90px;
border:none;

}


.inputText:focus{
    outline: none;
}

.inputTxt{
outline: none;
padding-top: 20px;
font-size: 30px;
border:none;
width:70vw;
}

.submitbtn{
    margin-left: 145px;
    color:white;
    background-color: green;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-size: 17px;
}
.imageHolder{
    margin-left: 150px;
    width: 70%;
    height:250px;
    object-fit: cover;
    border-radius: 15px;
    
}