.top-nav {
    width:100%;
    height : 60px;
    background-color: green;
    position:sticky;
    top :0;
    display:flex;
    align-items: center;
}

.topLeft{
    flex:3;
    display:flex;
    align-items: center;
    justify-content: center;
}

.topRight{
    flex:3;
    display:flex;
    align-items: center;
    justify-content: center;
}

.topCenter {
    flex:6;
    display:flex;
    align-items: center;
    justify-content: center;
}

.topImage{
    width:40px;
    height:40px;
    border-radius: 50%;
    align-items: inherit;
}

.topLeftIcon{
    font-size: 20px;
    margin:5px;
    cursor: pointer;
}

.topList {
    list-style: none;
    display:flex;
    justify-content: center;
    margin:0;
    padding: 0;
}

.topListItem {
    margin-right: 20px;
    font-size: 30px;
    cursor: pointer;
}

.topSearch {
    font-size: 20px;
    cursor: pointer;
    
}
.size{
    font-size: 20px;
    cursor: pointer;
}