.header {
    margin-top: 20px;
}

.headerTitle {
    display:flex;
    flex-direction: column;
    align-items: center;

}
.headerTitleliten {
    position:relative;
    top:10%;
    font-size: 20px;
}

.headerTitleStor {
    position:relative;
    top:10%;
    font-size: 100px;
}

.headerImage {
    width:100%;
    height:450px;
    margin-top: 10px;
    margin-bottom: 100px;
    object-fit: cover;
}