.sidebar {
    flex:2;
    margin: 40px;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem{
    display:flex;
    align-items: center;
    flex-direction: column;
}

.sidebarTitle{
    text-align: center;
    margin: 20px;
    padding: 5px;
    width: 80%;
    border-bottom: 1px solid greenyellow;
    border-top: 1px solid greenyellow;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 30px;
}

.iconContact{
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
}
.sidebarItem{
    margin-top: 50px;
    
}

.sideBarListItem {
    list-style: none;
    display:inline-block;
    width:90%;
    margin-top: 15px;
    padding-right: 20px;
    cursor: pointer;
}

.sideBarItem > img {
    margin-top: 15;
    border:double;
    border-radius: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sidebar > p {
    padding: 15px;
}