.post {
    width: 385px;
    margin: 0px 25px 40px 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.postImage {
    width: 100%;
    height: 280px;
    border-radius: 20%;
    object-fit: cover;

}

.postInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.postCat {
    color: rgba(247, 36, 36, 0.493);
    margin-top:20px;
    cursor: pointer;
}
.postTitle{
    margin-top: 15px;
    cursor: pointer;
}

.postDate {
    color: #999;
    margin-top: 15px;

}

.postDescription{
    color:#444;
    line-height: 24px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
