.home {
   
}

.postDescription{
    color:#444;
    line-height: 24px;
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}